<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Блог{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Блог нашей команды</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'article:posts' %}">Главная</a></li>
            <li><a href="#">О нас</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'article:profile' %}">Профиль</a></li>  
                <li><a href="{% url 'article:logout' %}">Выход</a></li> 
            {% else %}
                <li><a href="{% url 'article:login' %}">Вход</a></li>  
                <li><a href="{% url 'article:register' %}">Регистрация</a></li> 
            {% endif %}
        </ul>  
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>2025 Наша команда</p>  <!-- Простой footer -->
    </footer>
</body>
</html>