{% extends 'article/base.html' %}

{% block title %}Посты{% endblock %}

{% block content %}
    <h2>Список постов</h2>
    {% if user.is_authenticated %}
        <p><a href="{% url 'article:post_form' %}">Добавить пост</a></p>
    {% endif %}
    {% for post in object_list %}
        <article>
            <h3>{{ post.title }}</h3>
            <p>{{ post.text }}</p>
                {% if post.image %}
                    <img src= {{ post.image.url }}>
                {% endif %}
            <p>Автор: {{ post.user.username }} | {{ post.date }}</p>
        </article>
    {% empty %}
        <p>Пока нет записей.</p>
    {% endfor %}
{% endblock %}